@using WebUI.HtmlHelpers
@model WebUI.Models.MenuListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Menu@(ViewBag.SelectedCategory == null ? "" : ": " + ViewBag.SelectedCategory)</h2>

@foreach (var item in Model.MenuItems)
{
    <div class="panel panel-primary">
        <div class="panel-title">
            @item.Name
        </div>
        <div class="panel-body">
            @item.Description
        </div>
        <div class="panel-footer">
            @item.Price.Amount @item.Price.Currency
        </div>
    </div>
}

<div class="pagination">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>
