<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body role="document" data-feedly-mini="yes">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Bar.Net", "List", "Menu",null, new { @class = "navbar-brand" })
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewBag.Title == "Bar.Net: Menu" ? "active" : "")">@Html.ActionLink("Menu", "List", "Menu")</li>
                <li class="@(ViewBag.Title == "Bar.Net: About" ? "active" : "")">@Html.ActionLink("About","Index","About")</li>
                <li class="@(ViewBag.Title == "Bar.Net: Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "About")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="nav nav-pills nav-stacked dropdown-menu" role="menu">
                        @{ Html.RenderAction("Menu", "Nav"); }
                    </ul>
                </li>
            </ul>
            @{Html.RenderAction("Summary", "Cart");}
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div id="content" class="container theme-showcase" role="main">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
